---
---

/* css reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, hr, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* device views */

@media screen and (max-width: 960px) {
.desktop {
  display:none !important;
  }
}

@media screen and (min-width: 960px) {
.mobile {
  display:none !important;
  }
}

/* body */

html, body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  background: #010101;
  color: #010101;
}

/* welcome */

#welcome {
  padding: 10px 0px;
  text-align: center;
  background: #762671;
  color: #fff;
}

#welcome a {
  font-weight: bold;
  color: #fff !important;
}

/* logo */

.logo {
  color: #00FF00;
  margin-right: 10px;
}

/* sidebar */

@media screen and (max-width: 960px) {
#sidebar {
  width: auto;
  box-sizing: border-box;
  padding: 30px 20px;
  background: #010101;
  color: #808080;
  }
}

@media screen and (min-width: 960px) {
#sidebar {
  float: left;
  width: 320px;
  box-sizing: border-box;
  padding: 30px 20px;
  background: #010101;
  color: #808080;
  }
}

/* chat rooms */

ul.chat-rooms {
  display: block;
  margin-bottom: 30px;
  line-height: 1.5;
  font-size: 16px;
}

ul.chat-rooms i {
  margin-right: 10px;
}

/* content */

@media screen and (max-width: 960px) {
#content {
  width: auto;
  box-sizing: border-box;
  padding: 30px 20px;
  background: #fff;
  color: #010101;
}
}

@media screen and (min-width: 960px) {
#content {
    overflow: auto;
    background: #fff;
    color: #010101;
    padding-right: 40px;
    }
}

/* inner */

@media screen and (max-width: 960px) {
#inner {
    width: auto;
    box-sizing: border-box;
    padding: 0px;
    }
}

@media screen and (min-width: 960px) {
#inner {
    max-width: 1200px;
    min-height: 1200px;
    box-sizing: border-box;
    padding: 30px 0px 0px 40px;
    }
}

/* links */

a {
  color: #FF00FF;
  text-decoration: none;
}

a:active, a:hover, a:focus {
  outline: 0;
  color: #FF00FF;
  text-decoration: underline;
}

:focus {
    outline: 0;
}

/* styling */

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

/* misc */

hr {
  margin: 30px 0px;
  background: #E0E0E0;
  width: 100%;
  height: 1px;
}

.clear {
  clear: both;
}

.center {
  text-align: center !important;
}

/* paragraphs */

p {
  display: block;
  margin-bottom: 30px;
  line-height: 1.5;
}

#inner p {
  max-width: 600px;
  font-size: 16px;
  color: #808080;
}

p.sidebar {
  
}

p.sidebar a {
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
}

/* copyright */

#copyright {
  margin-bottom: 30px;
  color: #fff;
}

/* social */

#social {
  font-size: 24px;
  color: #757575;
}

#social i {
  margin-right: 10px;
  color: #FF00FF !important;
}

/* titles */

h1 {
  display: block;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: bold;
}

h2 {
  display: block;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: bold;
}

h3 {
  display: block;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
}

h4 {
  display: block;
  margin-top: 60px;
  margin-bottom: 30px;
  paddin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #757575;
}

/* code */

.snippet-install {
  overflow-y: scroll;
  display: block;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 2px;
  line-height: 1.5;
  color: #00FF00;
  font-family: monospace;
  background: #808080;
  white-space: nowrap;
  font-size: 14px;
}

.snippet-structure {
  height: 100px;
  overflow-y: scroll;
  display: block;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 2px;
  line-height: 1.5;
  color: #010101;
  font-family: monospace;
  background: #f3f3f3;
  white-space: nowrap;
  font-size: 14px;
}

.old_pre {
  background: #f3f3f3;
  white-space: nowrap;
}

.old_code {
  color: #212121;
  color: #808080;
  font-family: monospace;
  background: #f3f3f3;
}

/* lists */

ul {
    display: block;
    margin-bottom: 30px;
    list-style: none;
}

#content li {
    display: inline-block;
    box-sizing: border-box;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 10px;
    border-left: 2px solid #ccc;
    background: #f3f3f3;
    color: #ff00ff;
}

#content li a.none:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da";
    content: "\f292";
    color: #00ff00;
  
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-right: 5px;
}

#content li a {
    color: #ff00ff;
}

/* icons */

i.bullet {
    margin-right: 5px;
    color: #762671;
}
