---
---

html, body {
margin:0;
padding:0;
font-family:sans-serif;
font-size:14px;
color:#444;
}

.wrapper {
width:960px;
margin:0;
}

.clear {
clear:both;
}

h1 {
margin:0px 0px;
font-size:36px;
line-height:1;
color:#444;
}

h2,h3,h4,h5,h6 {
margin:0px 20px;
line-height:1;
color:#444;
}

p,ul,ol,pre {
margin:0 0 20px;
}

a {
color:#ff3366;
text-decoration:none;
}

a:hover,a:focus {
color:#ff3366;
text-decoration:underline;
}

pre {
padding:15px;
background:#efefef;
border-radius:5px;
color:#222;
font-family:monospace;
overflow-x:hidden;
}

code {
color:#222;
font-family:monospace;
}

hr {
margin:0px 20px;
border:0;
background:#ccc;
width:100%;
height:1px;
}

header {
float:left;
position:fixed;
width:320px;
height:100%;
box-sizing:border-box;
padding:20px;
background:#222;
color:#fff;
}

section {
float:left;
margin-left:320px;
padding:20px 20px 20px 40px;
}

ul {
list-style:disc !important;
}

li {
text-align: left !important;
}
