---
---

html, body {
margin:0;
padding:0;
font-family:sans-serif;
font-size:14px;
color:#444;
}

.wrapper {
width:960px;
margin:0;
}

.clear {
clear:both;
}

h1,h2,h3,h4,h5,h6 {
color:#444;
margin:0 0 20px;
line-height:1;
}

h1 {
font-size:36px;
}

p,ul,ol,pre {
margin:0 0 20px;
}

a {
color:#267CB9;
text-decoration:none;
}

a:hover,a:focus {
color:#069;
text-decoration:underline;
}

pre {
padding:15px;
background:#f8f8f8;
border-radius:5px;
color:#333;
border:1px solid #efefef;
font-family:monospace;
overflow-x:hidden;
}

code {
color:#333;
font-family:monospace;
}

hr {border:0;background:#efefef;height:1px;margin:0 0 20px}

@media print, screen and (max-width: 960px){div.wrapper{width:auto;margin:0}header,section,footer{float:none;position:static;width:auto}header{padding-right:320px}section{border:1px solid #e5e5e5;border-width:1px 0;padding:20px 0;margin:0 0 20px}header a small{display:inline}header ul{position:absolute;right:50px;top:52px}}@media print, screen and (max-width: 720px){body{word-wrap:break-word}header{padding:0}header ul,header p.view{position:static}pre,code{word-wrap:normal}}@media print, screen and (max-width: 480px){body{padding:15px}header ul{width:99%}}@media print{body{padding:0.4in;font-size:12pt;color:#444}}

header {
float:left;
position:fixed;
width:299px;
box-sizing:border-box;
padding:15px;
border-right:1px solid #efefef;
}

section {
float:left;
padding-bottom:50px;
}

ul {
list-style:disc !important;
}

li {
text-align: left !important;
}
