<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

{% seo %}
  <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700&display=swap">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
  
<body>
  <div id="sidebar">
    <h2><span class="logo"><i class="fas fa-bolt"></i><i class="fas fa-bolt"></i></span><a href="http://mirrors.slickstack.io">SlickStack</a></h2>
    <p>{{ site.description | default: site.github.project_tagline }}</p>
    <p><a href="https://github.com/littlebizzy/slickstack" target="_blank"><i class="fas fa-arrow-circle-right bullet"></i><strong>GitHub repo</strong></a><br>
       <a href="https://slickstack.io" target="_blank"><i class="fas fa-arrow-circle-right bullet"></i><strong>SlickStack.io homepage</strong></a><br>
       <a href="https://spectrum.chat/slickstack" target="_blank"><i class="fas fa-arrow-circle-right bullet"></i><strong>Spectrum chat (anons okay)</strong></a><br>
       <a href="https://www.facebook.com/groups/slickstack/" target="_blank"><i class="fas fa-arrow-circle-right bullet"></i><strong>Free Facebook group (real names)</strong></a></p>
    
    <p><a href="https://www.littlebizzy.com/members" class="white" target="_blank">Become a Member</a> to receive private help via email, Slack, Telegram, or Skype, and to be listed as a SlickStack sponsor (optional).</p>
        
<div id="snippet">/var/www/00-crontab<br>
/var/www/01-cron-often<br>
/var/www/02-cron-regular<br>
/var/www/03-cron-quarter-hourly<br>
/var/www/04-cron-half-hourly<br>
/var/www/05-cron-hourly<br>
/var/www/06-cron-quarter-daily<br>
/var/www/07-cron-half-daily<br>
/var/www/08-cron-daily<br>
/var/www/09-cron-half-weekly<br>
/var/www/10-cron-weekly<br>
/var/www/11-cron-half-monthly<br>
/var/www/12-cron-monthly<br>
/var/www/13-cron-sometimes<br>
/var/www/cache/<br>
/var/www/html/<br>
/var/www/logs/<br>
/var/www/meta/<br>
/var/www/ss-check<br>
/var/www/ss-clean<br>
/var/www/ss-config<br>
/var/www/ss-config-sample<br>
/var/www/ss-dump<br>
/var/www/ss-encrypt<br>
/var/www/ss-import<br>
/var/www/ss-install<br>
/var/www/ss-muplugs<br>
/var/www/ss-perms<br>
/var/www/ss-purge<br>
/var/www/ss-restart<br>
/var/www/ss-scan<br>
/var/www/ss-update<br>
/var/www/ss-worker</div>

    <div id="copyright">&copy; 2020 SlickStack | GPLv3 License</div>    
    
    <div id="social"><a href="https://github.com/littlebizzy/slickstack" target="_blank"><i class="fab fa-github"></i></a>
<a href="https://www.facebook.com/slickstack" target="_blank"><i class="fab fa-facebook-f"></i></a>
<a href="https://www.linkedin.com/company/slickstack" target="_blank"><i class="fab fa-linkedin-in"></i></a><i class="fab fa-twitter"></i><a href="https://www.youtube.com/channel/UClD6OJy-Sg45nUBoAfmccJg" target="_blank"><i class="fab fa-youtube"></i></a></div>
  
<div class="clear"></div>
</div><!-- sidebar -->

<div id="content">
  <div id="inner">
  {{ content }}
  <div class="clear"></div>
  </div><!-- inner -->
<div class="clear"></div>
</div><!-- content -->
  
<!-- Google Analytics -->
  
<!-- Google Analytics -->

<!-- StatCounter -->
<script type="text/javascript">
var sc_project=11996071;
var sc_invisible=1;
var sc_security="a7a75ef2";
</script>
<script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
<!-- StatCounter -->

</body><!-- body -->
</html><!-- html -->
