<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

{% seo %}
  
  <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700&display=swap">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
  
<body>
  
    <div id="welcome">
        <span class="mobile"><a href="https://cdn.forms-content.sg-form.com/6ba39413-e148-11ea-b64b-d22850ff1ee7" class="white" target="_blank"><strong>NEW! Subscribe to our email newsletter &raquo;</strong></a></span>
        <span class="desktop"><a href="https://cdn.forms-content.sg-form.com/6ba39413-e148-11ea-b64b-d22850ff1ee7" class="white" target="_blank"><strong>NEW! Subscribe to our FREE email newsletter to receive updates &raquo;</strong></a></span>
    </div><!-- welcome -->
  
  <div id="sidebar">
    <h2><span class="logo"><i class="fas fa-bolt"></i><i class="fas fa-bolt"></i></span><a href="https://mirrors.slickstack.io">SlickStack</a></h2>
    <p>{{ site.description | default: site.github.project_tagline }}</p>
    
    <div class="snippet-install"><pre><code>wget -O ss slick.fyi && bash ss</code></pre></div>
    
    <div id="chat-rooms">
        <a href="https://join.skype.com/NdpqKrN2BHdN" target="_blank" rel="noopener noreferrer"><i class="fab fa-skype"></i>Skype group chat</a><br>
        <a href="https://discord.gg/nGskJdg" target="_blank" rel="noopener noreferrer"><i class="fab fa-discord"></i>Discord server</a><br>
        <a href="https://spectrum.chat/slickstack" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i>Spectrum (GitHub) chat</a><br>
        <a href="https://www.facebook.com/groups/slickstack/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i>Facebook group</a>
    </div>
    
    <p><a href="https://www.littlebizzy.com/members" class="white" target="_blank">Become a Member</a> to receive private help via email or your company's Slack channel, and/or to be listed as a sponsor (optional).</p>
        
<div class="snippet-structure">/var/www/00-crontab<br>
/var/www/01-cron-often<br>
/var/www/02-cron-regular<br>
/var/www/03-cron-quarter-hourly<br>
/var/www/04-cron-half-hourly<br>
/var/www/05-cron-hourly<br>
/var/www/06-cron-quarter-daily<br>
/var/www/07-cron-half-daily<br>
/var/www/08-cron-daily<br>
/var/www/09-cron-half-weekly<br>
/var/www/10-cron-weekly<br>
/var/www/11-cron-half-monthly<br>
/var/www/12-cron-monthly<br>
/var/www/13-cron-sometimes<br>
/var/www/cache/<br>
/var/www/html/<br>
/var/www/logs/<br>
/var/www/meta/<br>
/var/www/ss-check<br>
/var/www/ss-clean<br>
/var/www/ss-config<br>
/var/www/ss-config-sample<br>
/var/www/ss-dos2unix<br>
/var/www/ss-dump<br>
/var/www/ss-encrypt<br>
/var/www/ss-functions<br>
/var/www/ss-import<br>
/var/www/ss-install<br>
/var/www/ss-install-adminer<br>
/var/www/ss-install-clamav<br>
/var/www/ss-install-craft-config<br>
/var/www/ss-install-craft-core<br>
/var/www/ss-install-magento-config<br>
/var/www/ss-install-magento-core<br>
/var/www/ss-install-mediawiki-config<br>
/var/www/ss-install-mediawiki-core<br>
/var/www/ss-install-moodle-config<br>
/var/www/ss-install-moodle-core<br>
/var/www/ss-install-mysql<br>
/var/www/ss-install-nginx<br>
/var/www/ss-install-opencart-config<br>
/var/www/ss-install-opencart-core<br>
/var/www/ss-install-php<br>
/var/www/ss-install-postfix<br>
/var/www/ss-install-prestashop-config<br>
/var/www/ss-install-prestashop-core<br>
/var/www/ss-install-redis<br>
/var/www/ss-install-ubuntu-aliases<br>
/var/www/ss-install-ubuntu-crontab<br>
/var/www/ss-install-ubuntu-kernel<br>
/var/www/ss-install-ubuntu-ssh<br>
/var/www/ss-install-ubuntu-users<br>
/var/www/ss-install-ubuntu-utils<br>
/var/www/ss-install-ufw<br>
/var/www/ss-install-wordpress-cli<br>
/var/www/ss-install-wordpress-config<br>
/var/www/ss-install-wordpress-core<br>
/var/www/ss-install-wordpress-mu-plugins<br>
/var/www/ss-monitor<br>
/var/www/ss-optimize<br>
/var/www/ss-overview<br>
/var/www/ss-perms<br>
/var/www/ss-perms-adminer<br>
/var/www/ss-perms-clamav<br>
/var/www/ss-perms-craft-config<br>
/var/www/ss-perms-craft-core<br>
/var/www/ss-perms-magento-config<br>
/var/www/ss-perms-magento-core<br>
/var/www/ss-perms-mediawiki-config<br>
/var/www/ss-perms-mediawiki-core<br>
/var/www/ss-perms-moodle-config<br>
/var/www/ss-perms-moodle-core<br>
/var/www/ss-perms-mysql<br>
/var/www/ss-perms-nginx<br>
/var/www/ss-perms-opencart-config<br>
/var/www/ss-perms-opencart-core<br>
/var/www/ss-perms-php<br>
/var/www/ss-perms-postfix<br>
/var/www/ss-perms-prestashop-config<br>
/var/www/ss-perms-prestashop-core<br>
/var/www/ss-perms-redis<br>
/var/www/ss-perms-ubuntu-aliases<br>
/var/www/ss-perms-ubuntu-crontab<br>
/var/www/ss-perms-ubuntu-kernel<br>
/var/www/ss-perms-ubuntu-ssh<br>
/var/www/ss-perms-ubuntu-users<br>
/var/www/ss-perms-ubuntu-utils<br>
/var/www/ss-perms-ufw<br>
/var/www/ss-perms-wordpress-cli<br>
/var/www/ss-perms-wordpress-config<br>
/var/www/ss-perms-wordpress-core<br>
/var/www/ss-perms-wordpress-mu-plugins<br>
/var/www/ss-purge<br>
/var/www/ss-purge-nginx<br>
/var/www/ss-purge-opcache<br>
/var/www/ss-purge-redis<br>
/var/www/ss-purge-transients<br>
/var/www/ss-remote<br>
/var/www/ss-reset-password<br>
/var/www/ss-restart<br>
/var/www/ss-scan<br>
/var/www/ss-sync<br>
/var/www/ss-update<br>
/var/www/ss-worker</div>
    
    <div id="social">
        <a href="https://github.com/littlebizzy/slickstack" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
        <a href="https://www.facebook.com/slickstack" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
        <i class="fab fa-twitter"></i>
        <a href="https://www.youtube.com/channel/UClD6OJy-Sg45nUBoAfmccJg" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube"></i></a>
        <a href="https://www.linkedin.com/company/slickstack" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://discord.gg/nGskJdg" target="_blank" rel="noopener noreferrer"><i class="fab fa-discord"></i></a>
    </div><!-- social -->
    
    <br><br>
    
    <p><a href="https://github.com/littlebizzy/slickstack/issues/new" target="_blank" rel="noopener noreferrer">Report an issue (bug)</a></p>
  
    <div id="copyright">&copy; 2020 LittleBizzy | GPLv3 License</div>
    
    <div class="clear"></div>
    </div><!-- sidebar -->
  
    <div id="content">
        <div id="inner">
        {{ content }}
        <div class="clear"></div>
        </div><!-- inner -->
    <div class="clear"></div>
    </div><!-- content -->

    <!-- StatCounter -->
    <script type="text/javascript">
    var sc_project=11996071;
    var sc_invisible=1;
    var sc_security="a7a75ef2";
    </script>
    <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
    <!-- StatCounter -->    

</body><!-- body -->
</html><!-- html -->
