<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">SlickStack</a></h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>
        
        <p>HTTP (TCP) Port: <strong>80</strong><br><strong>HTTPS (TCP):</strong> Port 443<br><strong>SSH (TCP):</strong> Port 6969</p>
        
        <pre><code>
          /var/www/0-crontab
          /var/www/1-cron-often
          /var/www/2-cron-regular
          /var/www/3-cron-hourly
          /var/www/4-cron-quarter-daily
          /var/www/5-cron-half-daily
          /var/www/6-cron-daily
          /var/www/7-cron-weekly
          /var/www/8-cron-monthly
          /var/www/9-cron-sometimes
          /var/www/cache/
          /var/www/html/
          /var/www/logs/
          /var/www/ss-check
          /var/www/ss-clean
          /var/www/ss-config
          /var/www/ss-config-sample
          /var/www/ss-dump
          /var/www/ss-install
          /var/www/ss-muplugs
          /var/www/ss-perms
          /var/www/ss-update
          /var/www/ss-worker
          /var/www/wp.sql
        </code></pre>
        
        <p><em>Last updated: January 22, 2019</em></p>
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
